.weatherCard {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 95%;
  height: 200px;
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 6%);
}

.weatherCard.large {
  display: block;
  position: relative;
  height: 400px;
}

.weatherCard .title {
  text-align: left;
  font-size: 1.2em;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.weatherCard .current-image {
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10%;
}

.weatherCard .text-block {
  width: 100px;
  padding-top: 45px;
  margin-left: 70%;
  box-sizing: border-box;
}

.weatherCard .current-image .temperature {
  display: block;
  font-size: 4em;
  letter-spacing: -4px;
}

.weatherCard .current-image .sky-status {
  font-size: 1.5em;
  font-weight: 600;
}

.weatherCard .current-table {
  font-size: 0.9em;
}

.current-table tr td {
  padding: 0 7px;
}

.current-table tr td dl dd {
  margin: 0;
  font-weight: 700;
}

.current-table .fcstVersion {
  text-align: right;
  font-size: 0.8em;
  color: #999999;
}

.card-chart {
  height: 500px;
}
