.weatherCard.vilage {
  display: block;
  position: relative;
}

.weatherCard.vilage .vilage-list {
  display: flex;
  height: 150px;
  margin: 0 20px;
  overflow-x: scroll;
  -ms-overflow-style: none;
}

.weatherCard.vilage .vilage-list::-webkit-scrollbar {
  display: none;
}
